.map {
  position: absolute;
  top: 0;
  left: 0; // width: 100%;
}

.point {
  width: 80px;
  height: 80px; // background: #000;
  position: relative;
  z-index: 1;
  cursor: pointer;
  span {
    position: absolute;
    top: 100%;
    color: #FFF;
    left: 50%;
    transform: translateX(-50%);
  }
}
